*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: rgb(210, 163, 216);
    z-index: -3;
}
.primeira-tela{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    background-color: rgba(243, 117, 117, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.primeira-tela form{
    padding: 40px 20px;
    max-width: 500px;
    width: 80%;
    background-color: rgba(243, 236, 236, 0.6);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.primeira-tela form h1 {
    margin-bottom:40px ;
}

.primeira-tela form .input-container {
    width: 100%;
    margin-bottom: 30px;
}
.primeira-tela form .input-container input[type=text] {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 0;
    border-radius: 8px;
    box-shadow: 8px 10px 2px #888888;
    font-size: 18px;
    color: #8c6d95;
    font-weight: bold;
}

.primeira-tela form input[type=button]{
    background-color: #b47d7d;
    border: 0;
    padding: 13px 30px;
    border-radius: 3px;
    margin-top: 20px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .4s;
}
.primeira-tela form hr {
    margin-top: 20px;
    background-color: rgb(210, 163, 216);
    border: 0;
    outline: none;
    height: 3px;
    border-radius: 20px;
}

.primeira-tela form input[type=button]:hover {
    background-color: #8c6d95;
}

.primeira-tela form h2 {
    margin-bottom: 10px;
}

.balao{
    width: 30px;
    height: 40px;
    border-radius: 90% 90% 100% 100%;
    background-color: black;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.botaodeIniciar{
    display: block;
    margin: 0 auto;
    border: 0;
    background-color: rgb(137, 214, 204);
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;
    top: 200px;
    font-size: 25px;
    color: rgb(99, 112, 126);
    cursor: pointer;
    outline: 0;
}
h3{
    position: fixed;
    top: 10px;
    left: 20px;
    color: rgb(83, 14, 14);
}